* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
}

.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

header {
  display: flex;
  padding: 1.5rem 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  font-size: 1.6rem;
}

nav h2 {
  color: #DD3D55;
}

.middle-navLink {
  display: flex;
  gap: 1.2rem;
}

.middle-navLink .navLink, .right-navLink button {
  text-decoration: none;
  background-color: #fff;
  padding: .7rem 1.6rem;
  color: #DD3D55;
  border-radius: 1rem;
  border: none;
}


.middle-navLink .active,.right-navLink .active {
  background-color: #DD3D55;
  color: #fff;
}

.cart-container {
  padding: 0 3rem;
  max-width: 100rem;
  margin: 0 auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.6rem;
  color: #000;
}

th, td {
  border-bottom: 1px solid #000;
  text-align: left;
  padding: 1.5rem;
}

.table-desc {
  line-height: 2rem;
}

.first-para {
  font-size: 1.4rem;
}

.second-para {
  color: #DD3D55;
  font-size: 1.8rem;
}

.amount-con {
  display: flex;

}

.amount-con div {
  border: 1px solid #4b3e40;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.div2 {
  width: 5rem;
  border-right: none;
  border-left: none;
}

.div3 {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.div1 {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}